{% extends "base.html" %}
{% block content %}


<div class="col-sm-6 col-sm-offset-3">
<h1>{{ title }}</h1>
<form method="GET" action="">
   <input type="text" class="info" name="q" value="{{ request.GET.q }}" placeholder="Search post">
   <input type="submit" class="btn btn-info" value="Search">  
</form>
<hr/>


{% for post in post_list %}
<div class="row">
  <div class="col-sm-12">
    <div class="thumbnail">
      {% if post.image %}
      <img src="{{ post.image.url }}" class="img-responsive">
      {% endif %}
      <div class="caption">
        {% if post.draft %}<h3 style="color: red">Staff only: Draft</h3> {% endif %}{% if post.publish > today %} <h3  style="color: red">Staff only: Future post</h3>{% endif %}
        <h3><a href="{% url 'posts:detail' post.slug %}">{{ post.title|truncatechars:50 }}</a><small> {{ post.publish }}</small></h3>
        {% if post.user.get_full_name %}
        <p>Author: {{ post.user.get_full_name }}</p>
        {% endif %}
        <p>{{ post.content|linebreaks|truncatechars:50 }}</p>
        <p><a href="{{ post.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>
  </div>
  </div>
  <!-- {% cycle "" "<div class='col-sm-12'><hr/></div></div><div class='row'>" %} -->
{% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if post_list.has_previous %}
            <a href="?{{ page_request_var }}={{ post_list.previous_page_number }}{% if request.GET.q %} &q={{request.GET.q}}{% endif %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ post_list.number }} of {{ post_list.paginator.num_pages }}.
        </span>

        {% if post_list.has_next %}
            <a href="?{{ page_request_var }}={{ post_list.next_page_number }}{% if request.GET.q %} &q={{request.GET.q}}{% endif %}">next</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock content %}